body{
  background: #FFE4C4;
}
h1{
  color: #F08080;
}
h3{
  color: #F08080;
}
a{
  background: #6B8E23;
}
p{
  color: #6B8E23;
}
h5{
  color:#F08080;
}
.blanco{
  color:white;
}
title{
  font-family: 'Langosta', cursiva;
}
